
/*---------------------GLOBAL SELECTORS--------------------------*/

body {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
h2{
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

p{
  color: #8f8f8f;
}
/*------------------------CLASS SELECTORS----------------------------*/

.bottom-padding {
  padding-bottom: 15%;
}

.carousel-item {
  padding: 7% 15%;
}

.centered {
  text-align: center;
  padding: 5%;
}

.card {
  border-color: #ffa07a;
  color: #ffa07a;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.feature-div {
  z-index: 2
}

.feature-icon {
  padding-bottom: 1.5rem;
  font-size: 5rem;
  color: #ffa07a;
}
.feature-icon:hover {
  color:  #ff4c68;
}

.header {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
  margin-top: 4.5rem;
}

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-header {
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}

.top-padding {
  padding-top: 50px;
}
/*------------------------ID SELECTORS-------------------------------*/

#title {
  background-color: #ff4c68;
  padding: 0 15%;
  z-index: -1;
}

#features {
  background-color: white;
  position: relative;
}

#testimonials {
  text-align: center;
  color: white;
  background-color: #ff4c68;
  min-height: 540px;
}

#press {
  text-align: center;
  background-color: #ff4c68;
  padding-bottom: 3%;
}

#cta {
  text-align: center;
  background-color: #ffa07a;
  color: white;
}
/* ****************************MEDIA QUERIES***************************** */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

















/*


    font-family: 'Ubuntu', sans-serif;

    font-family: 'Montserrat', sans-serif;


*/
